# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
/vanilla/target/
/spi/spi-api/target/
/spi/spi-engine/target/
/spi/spi-impl-bugsbunny/target/
/spi/spi-impl-afrikaans/target/
/cdi/spi-api/target/
/cdi/spi-engine/target/
/cdi/cdi-api/target/
/cdi/cdi-impl-afrikaans/target/
/cdi/cdi-impl-bugsbunny/target/
/cdi/cdi-engine/target/
/liberty-cdi/liberty-cdi-api/target/
/liberty-cdi/liberty-cdi-engine/target/
/liberty-cdi/liberty-cdi-impl-bugsbunny/target/
/liberty-cdi/liberty-cdi-impl-afrikaans/target/
/ejb/swarm-ejb-impl-bugsbunny/target/
/spi/swarm-spi-impl-bugsbunny/target/
/ejb/swarm-ejb-impl-afrikaans/target/
/ejb/swarm-ejb-api/target/
/ejb/swarm-ejb-engine/target/
/swarm-ejb/swarm-ejb-api/target/
/swarm-ejb/swarm-ejb-engine/target/
/swarm-ejb/swarm-ejb-impl-afrikaans/target/
/swarm-ejb/swarm-ejb-impl-bugsbunny/target/
/dynamic-spi/dynamic-spi-impl-bugsbunny/target/
/dynamic-spi/dynamic-spi-impl-afrikaans/target/
/dynamic-spi/dynamic-spi-engine/target/
/dynamic-spi/dynamic-spi-api/target/
/dynamic-spi/target/
/payara-cdi/payara-cdi-api/target/
/payara-cdi/payara-cdi-impl-afrikaans/target/
/payara-cdi/payara-cdi-impl-bugsbunny/target/
/payara-cdi/payara-cdi-engine/target/
/liberty-cdi/javaee-cdi-impl-bugsbunny/target/
/liberty-cdi/javaee-cdi-impl-afrikaans/target/
/liberty-cdi/javaee-cdi-api/target/
/liberty-cdi/javaee-cdi-engine/target/
/javaee-cdi/javaee-cdi-api/target/
/javaee-cdi/javaee-cdi-engine/target/
/javaee-cdi/javaee-cdi-impl-afrikaans/target/
/javaee-cdi/javaee-cdi-impl-bugsbunny/target/
/javaee-ejb/javaee-ejb-engine/target/
/javaee-ejb/javaee-ejb-impl-bugsbunny/target/
/javaee-ejb/javaee-ejb-impl-afrikaans/target/
/javaee-ejb/javaee-ejb-api/target/
/javaee-spi/javaee-cdi-engine/target/
/javaee-spi/javaee-cdi-impl-afrikaans/target/
/javaee-spi/javaee-spi-api/target/
/javaee-spi/javaee-spi-impl-bugsbunny/target/
/javaee-spi/javaee-spi-engine/target/
/javaee-spi/javaee-spi-impl-afrikaans/target/
/javaee-spi/javaee-spi-impl-alig/target/