# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
/vanilla/target/
/spi/spi-api/target/
/spi/spi-engine/target/
/spi/spi-impl-bugsbunny/target/
/spi/spi-impl-afrikaans/target/
/cdi/spi-api/target/
/cdi/spi-engine/target/
/cdi/cdi-api/target/
/cdi/cdi-impl-afrikaans/target/
/cdi/cdi-impl-bugsbunny/target/
/cdi/cdi-engine/target/